.field {
    border-radius: 10px;
	margin-bottom: 3%;
	background-color: white;
	width: 100%;
}

.field input {
	border: none;
	font-size: 16px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	width: 100%;
    background: none;
    outline: none;
}