.container ul {
    padding-inline-start: 0;
}

.container li {
    list-style: none;
    text-align: left;
}

.container li a {
    display: flex;
    align-items: center;
}

.container li img {
    margin-right: 1em;
}