.container {
  display: grid;
  min-height: 100vh;
  padding-top: 10px;
  justify-content: stretch;
  align-items: flex-start;
}

.loggedInContainer {
  grid-template-columns: 300px 1fr;
  column-gap: 10px;
}

.container a {
  color: inherit;
  text-decoration: none;
}

.sidebar {
  grid-column: 1;
}

.sidebar + section {
  grid-column: 2 / 3;
}
